* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.modal-win {
    position: relative;
    margin-top: 200px;
    margin-left: 100px;
    &-text-field {
        position: relative;
        padding: 5px 30px 5px 5px;
        background: #FFFFFF;
        border: 1px solid #DBDEDF;
        box-shadow: 0px 1px 1px rgba(152, 152, 152, 0.12);
        border-radius: 3px;
        max-width: 256px;
        min-height: 22px;
        outline: none;
    }
}

.dropMenu {
    background: white;
    position: absolute;
    top: -207px;
    left: 20px;
    width: 192px;
    height: 192px;
    filter: drop-shadow(0px 12px 24px rgba(0, 0, 0, 0.1));
    border-radius: 4px;
    overflow: auto;
    &-elem {
        cursor: pointer;
    }
}

.innerElem {
    padding: 10px 0px 10px 7px;
    pointer-events: auto;
}

.active {
    visibility: hidden;
}

.li-elem,
.backtick {
    background-color: #E5E5E5;
}

.white {
    background-color: white;
}

.test {
    display: inline;
}

.hide {
    display: none;
}

#out-data {
    width: 999px;
}

.li-elem {
    padding: 2px 5px;
    border-radius: 5px;
    margin: 1px 0px;
    outline: none;
    border: 0px;
    text-align: center;
    // display: inline-block;
}

.block {
    display: block;
}

.keyboard {
    position: absolute;
    cursor: pointer;
    padding: 2px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    left: 226px;
    top: 5px;
    transition: 0.5s;
    &-active {
        display: none;
    }
    &:hover {
        transform: scale(1.05);
    }
}

.keyboardShortcut {
    animation: keyboard 0.5s;
    position: absolute;
    top: -55px;
    left: 90px;
    display: none;
    padding: 7px;
    width: 185px;
    height: 58px;
    background: #FFFFFF;
    border: 1px solid #C3C3C3;
    box-shadow: 0px 11.9408px 23.8816px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    &::after {
        content: '';
        position: absolute;
        right: 32px;
        bottom: -10px;
        border: 5px solid transparent;
        border-top: 5px solid white;
    }
    &-down {
        display: flex;
    }
    &-active {
        display: block;
    }
}

@keyframes keyboard {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.dropMenu-elem {
    background-color: white;
    font-size: 12px;
}

// .dropMenu-elem:hover {
//     background-color: #efefef !important;
// }
.dropMenu-elem-hover:hover {
    background-color: #efefef !important;
}

.dropMenu::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    background-color: #eaeaea;
}

.dropMenu::-webkit-scrollbar-thumb {
    background-color: #cdcdcd;
    border-radius: 9em;
}

.dropMenu::-webkit-scrollbar-thumb:hover {
    background-color: #cbc5c5;
}

.dropMenu::-webkit-scrollbar-button:vertical:start:decrement,
.dropMenu::-webkit-scrollbar-button:vertical:end:increment {
    display: none;
}

.text-field {
    min-height: 22px;
}

.shadow-inp {
    width: 35%;
    outline: none;
    border: none;
    position: absolute;
    border-bottom: 1px solid red;
}

.dropMenu-elem-color {
    pointer-events: none;
}

.dropMenu-elem:hover .dropMenu-elem-color {
    background-color: red;
}

.dropMenu-elem-color:first-child {
    background-color: #CCC8F7;
}

.dropMenu-elem-color:nth-child(2) {
    background-color: #DCECFF;
}

.dropMenu-elem-color:nth-child(3) {
    background-color: #FFF3B4;
}

.dropMenu-elem-color:last-child {
    background-color: #EBFFB5;
}